/* Created by: Shyla Oommen
* Created on: Apr 2023
* This CSS file defines the style for index.html
* ICS2O-Programming-Unit4-03-PHP-Movie -->
*/

body {
  background-color: #dad3d8;
}

h1, h3 {
  background-color: #48483a;
  text-align: center;
  border: 2px solid #5c574f;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

p, form{
  background-color: #48483a;
  border: 2px solid #5c574f;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 115%;
}

#results {
  background-color: #48483a;
  border: 2px solid #5c574f;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20px;
  font-weight: bold;
  color: white;
  font-size: 115%;
}
